<h1>Writing for <%= @sub_section.section.play.title %>,  <%= @section.name %></h1>
<div>
<div>
This is sub_section <%= @sub_section.ordering+1 %> of <%= @section.sub_sections.size %> in <%= @section.name %>.
</div>
<% if @last_section.nil? %>
This is the first section, so no previous line, just start writing!
<% else %>
<div style="background-color: yellow">
Previous line:

<% if @last_line %>
<table>
  <tr>
    <td align="right" style="margin-top: 20px">
      <div style="font-weight: bold; font-size:150%"><%= @last_line.character.name %>:</div>
    </td>
    <td style="">
      <div style="font-size:150%"><%= @last_line.text %></div>
    </td>
</table>
<% else %>
  No last line in previous section yet
<% end %>

</div>
<% end %>
</div>

<hr>

<script>
	var myCountdown1 = new Countdown({
		time: 5*60,
		});
</script>
<hr>

<div id="sub_section_writer">
</div>

<hr>

<%= link_to 'Back', edit_play_path(@play) %>
