<h1>Writing for <%= @sub_section.section.play.title %>,  <%= @section.name %></h1>
<div>
<div>
This is sub_section <%= @sub_section.ordering+1 %> of <%= @section.sub_sections.size %> in <%= @section.name %>.
</div>
<% if @last_section.nil? %>
This is the first section, so no previous line, just start writing!
<% else %>
<div style="background-color: yellow">
Previous line:

<% if @last_line %>
<table>
  <tr>
    <td align="right" style="margin-top: 20px">
      <div style="font-weight: bold; font-size:150%"><%= @last_line.character.name %>:</div>
    </td>
    <td style="">
      <div style="font-size:150%"><%= @last_line.text %></div>
    </td>
</table>
<% else %>
  No last line in previous section yet
<% end %>

</div>
<% end %>
</div>

<hr>

<script>
	var myCountdown1 = new Countdown({
		time: 5*60,
		onComplete	: countdownComplete
		});

    function countdownComplete(){
      	alert("Your time is up. Please finish up quickly and click the \"Go to next writer\" below to load the next section for the next person.");
      	$('#next_sub_section_link').show();
    }		
</script>
<hr>

<div id="sub_section_writer">
</div>

<div id="next_sub_section_link" style="margin: 20px 0; font-size: 200%;">
  <% 
    next_section = @sub_section.next_section 
    if next_section.nil?
    %>
    The admin needs to add more sub sections!
  <% else %>
   <span style="background-color: green; text-decoration: blink;">
    <%= link_to "Go to next writer", "/plays/#{@section.play.id}/sections/#{@section.id}/sub_sections/#{next_section.id}/edit#write/play/#{@section.play.id}/section/#{@section.id}/sub_section/#{next_section.id}" %>
    </span>
  <% end %>
</div>
<hr>

<%= link_to 'Back', edit_play_path(@play) %>


<script>
  $('#next_sub_section_link').hide();
</script>
