<%= form_for(@play) do |f| %>
  <% if @play.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@play.errors.count, "error") %> prohibited this play from being saved:</h2>

      <ul>
      <% @play.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Update play title/description" %>
  </div>
<% end %>

<% if @play %>
<hr>

	<div>
		<%= render 'characters', :editable => true %>
	</div>
	<div>
		<% @character = Character.new %>
		<%= link_to "Add Character", "/plays/#{@play.id}/characters/new" %>
	</div>

<hr>

	<div>
		<%= render 'sections', :editable => true %>
	</div>

<hr>

<div>
  <div style="font-weight: bold; font-size: 125%; background: yellow; display:inline">View Full Script</div>
<ul>
  <li><%= link_to "Plain Script", full_script_url(@play)%></li>
  <li><%= link_to @play.VOSD.name, full_script_url(@play, {:character_id => @play.VOSD.id })%></li>

  <% @play.real_characters.map(&:actor).compact.uniq.each do |actor|
    characters = actor.characters.select {|c| c.play == @play }
  %>
      <li><%= link_to "#{actor.name} [#{characters.map(&:name).join(', ')}]", full_script_url(@play, {:actor_id => actor.id })%></li>
  <% end %>


</ul>
</div>

<% end %>