<h3>Sections</h3>
<table style="margin-left: 20px;">
<% @play.sections.each do |section| %>
  <tr>
  	<td style="font-weight: bold; padding-top: 10px;"><%= section.name %></td>
  	<td><%= section.description %></td>
  	<% if editable %>
  	<td>[<%= link_to "delete", "/plays/#{@play.id}/sections/#{section.id}", :confirm => "Do you really want to delete #{section.name}?", :method => :delete %>,
  	  <%= link_to "View all lines for #{section.name}", play_section_path(@play, section) %>]</td>
  	<% end %>
  </tr>
  <tr>
    <td colspan="2">
    </td>
  </tr>
  <% section.props.each do |prop| %>
    <tr>
      <td align="right">prop:</td>
      <td><%= prop.name %></td>
    </tr>
  <% end %>
  <tr>
    <td></td>
    <td><%= link_to "Add a prop", "/plays/#{@play.id}/sections/#{section.id}/props/new" %></td>
  </tr>
  <tr>
    <td colspan="2">
      <div>SubSections</div>
      <% section.sub_sections.each do |ss| %>
        <div>
          Subsection <%= ss.ordering %>: <%= ss.lines.size %> lines 
          [<%= link_to "write", "/plays/#{@play.id}/sections/#{section.id}/sub_sections/#{ss.id}/edit#write/play/#{@play.id}/section/#{section.id}/sub_section/#{ss.id}" %>]
        </div>
      <% end %>
  </tr>
  <tr style="margin-bottom: 10px;">
    <td colspan="2">
      <div style="width: 30%; border: 1px solid gray"></div>
    </td>
  </tr>
    
<% end %>
</table>
