<h1><%= @play.title %></h1>
<div>
  <em><%= @play.description %></em>
</div>
<hr>

<% @play.sections.each do |section| %>
  <% shown_characters_this_section = [] %>

  <div style="font-size: 170%; font-weight: bold">
    <%= section.name %>
  </div>
  <div>
    <em><%= section.description %></em>
  </div>

  <% section.sub_sections.each do |ss| %>
    ........<br/>

    <% ss.lines.each do |line| %>
    <%
      description = nil
      if !shown_characters_this_section.include? line.character.id
        description = " (#{line.character.description})"
        shown_characters_this_section << line.character.id
      end
    %>
  <div style="margin-top: 20px; font-family: courier; font-size: 12pt; line-height: 150%;">
  	  <% if @character && @character.id == line.character.id %>
        	<div style="font-weight: bold"><%= line.character.name %>:<span style=""><%= description %></span></div>
  	  <% else %>
      	<div style=""><%= line.character.name %>:<span style=""><%= description %></span></div>
  	  <% end %>
  </div>

  <div style="font-family: courier; font-size: 12pt; line-height: 150%;">
  	  <% if @character && @character.id == line.character.id %>
        <div style="font-weight: bold; background: yellow; display: inline"><%= line.text %></div>
  	  <% elsif line.character.name =~ /VOSD/ ||  line.character.name.strip == 'Voice of Stage Directions' %>
    	  <div style="font-weight: bold; background: lightgray; display: inline; padding: 5px 0; text-transform:uppercase;"><%= line.text %></div>
  	  <% else %>
        	<div><%= line.text %></div>
  	  <% end %>
  </div>
    <% end %>
  <% end %>

  <hr>
<% end %>
