<h1>Listing plays</h1>

+ <%= link_to 'Create a new Play', new_play_path %>

<hr>

<% @plays.sort_by {|p| p.created_at}.reverse.each do |play| %>
<div style="margin: 10px 0; border: 1px solid black; max-width: 600px">
  <div class="play-title"><%= play.title %></div>
  <div  class="description"><%= play.description %></div>
  <div class="stats">
    <div><%= play.sections.size %> sections</div>
    <div><%= play.lines.size %> lines</div>
  </div>
  <div>
    [
    <%= link_to 'Show', play %>
    |<%= link_to 'Edit', edit_play_path(play) %>
    |<%= link_to 'Destroy', play, method: :delete, data: { confirm: 'Are you sure?' } %>
    ]
  </div>
</div>
<% end %>
