<%= render 'plays/script_description', :play => @section.play %>
<hr/>

<div style="font-size: 150%; font-weight: bold; width: 100%; text-align: center; padding: 20px 0">
  Role: <%= @character.name %>
</div>

<%= render 'section_script_header', :section => @section %>
    
<% @section.sub_sections.each do |ss| %>
  <br/>

  <% ss.lines.each do |line| %>
  <%
    is_highlight_character = (@character && @character.id == line.character.id)
  %>
  <div class="script-line" style="margin-top: 20px; padding: 0 20em;">
	  <% if is_highlight_character %>
      	<div class="highlighted"><%= line.character.name %>:</div>
	  <% else %>
    	<div style=""><%= line.character.name %>:</div>
	  <% end %>
  </div>

  <div class="script-line" style=" padding: 0 7em;">
	  <% if is_highlight_character %>
      <div class="highlighted"><%= line.text %></div>
	  <% elsif line.character.name =~ /VOSD/ ||  line.character.name.strip == 'Voice of Stage Directions' %>
  	  <div class="vosd"><%= line.text %></div>
	  <% else %>
      	<div><%= line.text %></div>
	  <% end %>
  </div>
  <% end # lines %>
<% end # sub_sections  %>
