
<% @section.sorted_characters.each do |character| %>
  <div style="text-align: center">
    <div style="margin: auto; width: 60%">
      <div style="font-size: 170%; font-weight: bold; margin: 1em 0">
        <%= @section.play.title %>
      </div>
      <div style="font-size: 150%; font-weight: bold; margin: 0.75em 0">
        <%= @section.name %>
      </div>
      <div style="margin: 0.25em 0">
        <em><%= @section.description %></em>
      </div>
      <div style="font-size: 150%; font-weight: bold; margin: 0.5em 0">
        Role: <%= character.name %>  
      </div>
    </div>
  </div>

  <% shown_characters_this_section = [] %>
  
  <% @section.sub_sections.each do |ss| %>
    ........<br/>

    <% ss.lines.each do |line| %>
    <%
      description = nil
      if !shown_characters_this_section.include? line.character.id
        description = " (#{line.character.description})"
        shown_characters_this_section << line.character.id
      end
      
      is_highlight_character = (character && character.id == line.character.id)
    %>
    <div class="script-line" style="margin-top: 20px;">
  	  <% if is_highlight_character %>
        	<div class="highlighted"><%= line.character.name %>:<span style=""><%= description %></span></div>
  	  <% else %>
      	<div style=""><%= line.character.name %>:<span style=""><%= description %></span></div>
  	  <% end %>
    </div>

    <div class="script-line">
  	  <% if is_highlight_character %>
        <div class="highlighted"><%= line.text %></div>
  	  <% elsif line.character.name =~ /VOSD/ ||  line.character.name.strip == 'Voice of Stage Directions' %>
    	  <div class="vosd"><%= line.text %></div>
  	  <% else %>
        	<div><%= line.text %></div>
  	  <% end %>
    </div>
    <% end # lines %>
  <% end # sub_sections  %>
  <hr class="pagebreak" />
<% end #character %>
