<h1><%= @section.play.title %>,  <%= @section.name %></h1>

<table>
<% @section.sub_sections.each do |ss| %>
<tr>
  <td colspan="2">
    ........
  </td>
</tr>

  <% ss.lines.each do |line| %>
  <tr>
    <td align="right" style="margin-top: 20px">
	  <% if @character && @character.id == line.character.id %>
      	<div style="font-weight: bold"><%= line.character.name %>:</div>
	  <% else %>
    	<div style=""><%= line.character.name %>:</div>
	  <% end %>
    </td>
    <td style="">
	  <% if @character && @character.id == line.character.id %>
      	<div style="font-weight: bold"><%= line.text %></div>
	  <% else %>
      	<div><%= line.text %></div>
	  <% end %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>

