<h1><%= @section.play.title %>,  <%= @section.name %></h1>

<div>
Highlight lines for : [
  <% @section.play.characters.each do |character| %>
    <%= link_to character.name, play_section_url(@section.play, @section, {:character_id => character.id })%>
  <% end %>
]
</div>
<div>
  <%= link_to 'Back to Edit Play', edit_play_path(@play) %><br/>
</div>
<hr>

<% @section.sub_sections.each do |ss| %>
  ........<br/>

  <% ss.lines.each do |line| %>
<div style="margin-top: 20px; font-family: courier; font-size: 12pt; line-height: 150%;">
	  <% if @character && @character.id == line.character.id %>
      	<div style="font-weight: bold"><%= line.character.name %>:</div>
	  <% else %>
    	<div style=""><%= line.character.name %>:</div>
	  <% end %>
</div>

<div style="; font-family: courier; font-size: 12pt; line-height: 150%;">
	  <% if @character && @character.id == line.character.id %>
      	<div style="font-weight: bold"><%= line.text %></div>
	  <% else %>
      	<div><%= line.text %></div>
	  <% end %>
</div>
  <% end %>
<% end %>
</table>

