<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Exquisite Corpse' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <%= yield %>
  <div id="overlay"></div>
  <script>
  $('#overlay').click(function(e){
      $('#overlay').fadeOut(300, function(){
          $('.expose').css('z-index','1');
      });
  });
  </script>
</body>
</html>
